body {
    background-color: burlywood;
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    font-size: 60px;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

li {
    text-align: center;
}

a {
    font-size: 35px;
    color: green;
    display: inline-block;
    margin: 15px;
}